@media (max-width: 499px){
   body {
  background: url("devices.svg");
  background-size: cover;
  background-position: center;}
}
     
body{
  font-family: sans-serif;
  margin: 0;
  height: 100vh !important;
  overflow-y: hidden;
}
a:link, a:active, a:visited{
  text-decoration: none;
  color: black;
}

label.close {
  position: absolute;
  display: block;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont {
  top: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 290px;
  height: 150px;
  border-radius: 5px 5px 0 0;
  padding:15px;
  box-sizing: border-box;
  background: rgba(245,245,245,0.95);
  border: 1px solid #ccc;
  box-shadow: 0 10px 100px #aaa;
  animation-name: fade;
  animation-delay: 0;
  animation-duration: 1s;
  z-index: 0
}
.ec {
  margin: auto;
  position: relative;
  width: 90%;
  background: rgba(245,245,245,0.95);
  height: auto;
  animation-name: fade;
  animation-delay: 0;
  animation-duration: 0.4s;
  z-index: 0
}
.chip{
  display: block;
  margin: 30px auto;
  padding: 20px 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  width: 80%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #fff;
}
.chip img, .skype{
  float: left;
  margin-right: 15px;
}
.skype{
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  background: #00A4E2;
  box-shadow: 0 0 5px #00A4E2;
}
.plate {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding: 0px;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  position: static;
  border: none;
  float: left;
}

.plate img {
  width: 50px;
  height: 50px;
  transition: all 0.3s
}

.plate:hover {
  transform: scale(1.2);
}

span.label{
  display: none;
  margin: auto;
  text-align: center;
}
.fade{
  animation-name: fade;
  animation-delay: 0s;
  opacity: 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}
.b-t{
  display: none !important;
}
.box{
  display: none;
  border-radius: 10px;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(245,245,245,0.95);
  border: 1px solid #ccc;
  box-shadow: 0 10px 100px #aaa;
  animation: openbox;
  animation-duration: 0.2s;
}
.b-t:checked + div{
  display: block;
  opacity: 1;
}
.head{
  height: auto;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  padding: 15px;
  border-bottom: 1px solid #ccc
}
.a-g{
  width: 300px;
  height: 100%;
  margin: auto;
}
.app{
  display: block;
  margin: 12px;
  height: 90px;
  width: 70px;
  float: left;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  box-sizing: border-box;
  text-align: center;
}
.icon{
  width: 70px;
  height: 70px;
  clear: both;
  border-radius: 3px;
  font-size: 24px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.tube{
  background: #960012;
}
.news{
  background: #4A90E2;
  font-size: 40px;
}
.cc{
  background: #D2880F;
  font-size: 30px;
}
.tt {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tt .tttxt {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tt .tttxt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.tt:hover .tttxt {
    visibility: visible;
    opacity: 1;
}
@keyframes fade{
    0%{
      transform: translateY(20%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
}
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  .m-h{
    height: 150px;
    width: 100%;
    text-align: center;
    position: absolute;
    width: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 10px;
    margin: 50px auto;
    box-sizing: border-box;
    background: rgba(245,245,245,0.95);
    border: 1px solid #ccc;
    box-shadow: 0 10px 100px #aaa;
  }
  @keyframes openbox{
      from{
        opacity: 0;
        transform: scale(0);
      }to{
        opacity: 1;
        transform: scale(1);
      }
  }
  /*Phablets and Tablets*/
  @media (min-width: 500px) {
    body{
      background: url("Website-Design-Background.jpg");
      background-size: cover;
    }
    .m-h{
      margin: 20px auto;
      width: 440px;
      height: 440px;
      border-radius: 50%;
      padding: 150px 0;
    }
  }
/*Large screens*/
  @media (min-width: 680px){
    .m-h{
      margin: 60px auto;
    }

    .box{
      width: 680px;
      height: 90%;
    }
    .a-g{
      width: 600px
    }
    .cont{
      width: 520px;
      height: 80px
    }
  }
/*For landscape Devices*/
  @media (orientation:landscape) and (max-width: 1440px) and (max-height:592px){
    .m-h{
      margin: 0 auto;
      height: 150px;
      top: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      box-sizing: border-box;
  }
    body{
      background: url("devices.svg");
      background-size: cover;
      background-position: center;
    }
    .box{
      height: 100vh;
    }
  }
